.Shortcuts {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Shortcuts--content {
  display: inline-block;
  padding: 0 20px 20px 20px;
  background: #feffb7;
  min-width: 400px;
  box-shadow: 3px 3px 2px 0 rgba(190, 190, 0, .5);
}

.Shortcuts ul {
  line-height: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Shortcuts kbd {
  margin: 0 2px;
  padding: 3px;
  color: #7c7c7c;
  border: 1px solid #a9a9a9;
  border-radius: 2px;
  box-shadow: 0 3px 0 -2px rgb(255, 255, 255), 0 2px 0 0 rgb(169, 169, 169);
  vertical-align: middle;
  background: white;
}
