.Home {
  background: #f8f8f8;
}

.Home--container {
  padding: 50px;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}

.Home--header {
  padding-right: 50px;
}

.Home--header h1 {
  font-size: 5em;
  color: #243c29;
}

.Home--filter {
  flex-grow: 1;
}

.Home--image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home--image img {
  width: 100%;
}
